*{
    margin: 0px;
    padding: 0px;
   }
   body{
    background-image: url('https://images.pexels.com/photos/163140/technology-computer-motherboard-chips-163140.jpeg');
    background-size: 100%;
  
  }
   #wrapper{
    width: auto;
    background-color: white;
    margin: 20px;
    padding: 50px;
   }
   p{
    font-family: sans-serif;
   }
   #header{
    width: 50%;
    margin:auto;
    height: 100px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 5px solid rgb(233, 66, 0);
    border-radius: 10px;
    text-align: center;

   }
   #python,#java{
       margin: 10px;
       display:inline-block;
   }
   ul{
    list-style-position: inside;

   }