   *{
    margin: 0px;
    padding: 0px;
   }
  body{
      background-image: url('https://images.pexels.com/photos/163140/technology-computer-motherboard-chips-163140.jpeg');
      background-size: 100%;
    
    }
    p{
        font-family: sans-serif;
        
       }
   #wrapper{

    width: auto;
    border: 5px solid rgba(0, 0, 0, 0.664);
    border-radius: 10px;
    background-color: white;
   margin: 20px; 
    padding: 20px;
    padding-left: 30px;
    
   }
   #header{
    width: 50%;
    margin:auto;
    height: 100px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 5px solid rgba(0, 0, 0, 0.562);
    border-radius: 10px;
    text-align: center;

   }
   #python,#java{
       margin: 10px;
       display:inline-block;
   }
   #logo{
       margin-right: 500px;
   }
   
   .project{
       border: 5px solid rgba(0, 0, 0, 0.767) ;
       width: 300px;
       height: 200px;
       border-radius: 10px;
       display: inline-block;
    
   }
   .project_container{
    background-color: white;
  /*border: 2px solid black;*/
  /*  border-radius: 10px; */
   
    width: 340px;
    height: 300px;
    margin: 15px;
    padding-left: 35px;
    padding-top: 35px;
    display: inline-block;
    
    padding-right: 5px;
}
   .meta {
    font-weight: bold;
       
   }
   .parent_project_container{
    display: inline-block;
    margin: 5px;
    
}

#project1{
    background: url("/static/img/African Ancestry.png") 100%;
}

#project2{
    background: url("/static/img/BigBankAccount.png") 100%;
}
#project3{
    background: url("/static/img/weather.png") 100%;
}
#project4{
    background: url("/static/img/Wishlist.png") 100%;
}
#project5{
    background: url("/static/img/20201225_174706.jpg") 100%;

}

#project6{
    background: url("/static/img/dodgingfire_welcome.png") 100%;

}

#project7{
    background: url("/static/img/james_consult.png") 100%;

}

#project8{
    background: url("/static/img/OrigamiShowcase.png") 100%;

}
