   *{
    margin: 0px;
    padding: 0px;
   }
  
   #wrapper{
    width: auto;

    background-color: silver;
    margin: 20px;
    padding: 10px;
   }
   #header{
    width: 50%;
    margin:auto;
    height: 100px;
    
    padding: 20px;
    border: 2px solid black;
    text-align: center;

   }
   #python,#java{
       margin: 10px;
       display:inline-block;
   }
   #logo{
       margin-right: 500px;
   }
   
   .project{
       background-color:  white;
       width: 300px;
       height: 200px;
       
       display: inline-block;
    
   }
   .project_container{
    background-color:  cyan;
    border: 4px solid cyan;
    border-radius: 8px;
    width: 340px;
    height: 300px;
    margin: 20px;
    padding-left: 39px;
    padding-top: 30px;
    display: inline-block;
 
}
   .meta {
    font-weight: bold;
       
   }