<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about_me.css' %}"> 
    <title>Index</title>
    </head>
    <body>
        <div id='header'>
            <h2>Uchenna's Portfolio:</h2>
            <hr>
            <h2> <a href='/'>Projects</a>
                <p> </p>
                
                <a href='/about_me'>About me</a></h2>

        </div>
            <div id='wrapper'>
                <h2>Who I am:</h2>
                <br>
                <p>I am a Jack of all trades, but my journey in Development started 2015 as a New Year Resolution. I began with Java,
                     which then led to Android.</p>
               
                <br>
                     <p> I have successfully completed a Bootcamp at Coding Dojo. There I learned Full-Stack
                        Development using Python Django. I've done some college at Prince Georges Community College learning Cyber security.
                        </p>
                     </p>
                     <br>
                <p> My current job is a Java Developer at WeAreKBS. The current project is a African Ancestry Lineage 
                    Tracker. My responsibilites have been Url mapping, Extensive Unit testing, 
                    Documentation writing, and Data Validation.   </p>
                
                    <br>
                    

                

                <br>
                <br>
                <br>

                <h2>Skills/Tools:</h2>
                <ul>
                <li>HTML</li>
                   <li>CSS</li>
                   <li>Java</li>
                   <li>Python</li>
                   <li>Django</li>
                   <li>Android</li>
                   <li>Javascript</li>
                   <li>Jquery</li>
                   <li>Spring MVC</li>
                   <li>SQL</li>
                   <li>Unit Testing</li>
                   <li>AWS</li>
                   <li>Graphic Design</li>
                   <li>Adobe Illustrator</li>
                   <li>Adobe Photoshop</li>
                   <li>Adobe Premiere Pro</li>

                </ul>
            </div>
    </body>
    </html>