<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <title>Index</title>
    </head>
    <body>
        <div id='header'>
                    
            <h2>Uchenna's Portfolio:</h2>
            <hr>
            <h2> <a href='/'>Projects</a>
                <p> </p>
                
                <a href='/about_me'>About me</a></h2>


        </div>
        <div id='wrapper'>
            
                <div class='project_container'>             
                    <div id='project1' class='project'>
                            
                                
                    </div>
                      
                    <p><span class='meta'>App name:</span> <a href='https://status.africanancestrystatus.com/'>African Ancestry</a></p>
                    <p><span class='meta'>Description:</span> Track your Lineage  </p>
                    <p><span class='meta'>Stack:</span> Java, Spring MVC, HTML, CSS</p>   
    
                </div>
            
                <div class='project_container'>
                    <div id='project8' class='project'>
     
                    </div>
                    <p><span class='meta'>App name:</span> <a href='http://origamishowcase.com'>Origami Showcase</a></a></p>
                <p><span class='meta'>Description:</span> Origami art portfolio  </p>
                <p><span class='meta'>Stack:</span> Wordpress </p> 
                    
                </div>
               

           
                <div class='project_container'>
                    <div id='project3' class='project'>
    
                    </div>
                    <p><span class='meta'>App name:</span><a href='weather'>Weather</a> </p>
                    <p><span class='meta'>Description:</span> Get the weather in real-time </p>
                    <p><span class='meta'>Stack:</span> Python, Django, Javascript, HTML, CSS</p>
                    
                </div>
                
                <div class='project_container'>
                    <div id='project4' class='project'>
    
                    </div>
                    <p><span class='meta'>App name:</span><a href='http://ec2-18-222-71-144.us-east-2.compute.amazonaws.com'>Wishlist</a> </p>
                <p><span class='meta'>Description:</span> Create a wishlist.  </p>
                <p><span class='meta'>Stack:</span> Python, Django, HTML, CSS</p> 
                    
                </div>

                <div class='project_container'>
                    <div id='project5' class='project'>
    
                    </div>
                    <p><span class='meta'>App name:</span> <a href='https://play.google.com/store/apps/details?id=com.dose.apps.brainnoodles'>Brain Noodles</a></p>
                <p><span class='meta'>Description:</span> Math and Quiz Game  </p>
                <p><span class='meta'>Stack:</span> Java, Android</p> 
                    
                </div>
                <div class='project_container'>
                    <div id='project6' class='project'>
     
                    </div>
                    <p><span class='meta'>App name:</span> <a href='https://play.google.com/store/apps/details?id=com.dodgingfire'>Dodging Fire</a></p>
                <p><span class='meta'>Description:</span> 2d infinite runner Game  </p>
                <p><span class='meta'>Stack:</span> Java, Android</p> 
                    
                </div>
                <div class='project_container'>
                    <div id='project7' class='project'>
     
                    </div>
                    <p><span class='meta'>App name:</span> <a href='james_consult'>James Consulting</a></p>
                <p><span class='meta'>Description:</span> Mock Consulting Company  </p>
                <p><span class='meta'>Stack:</span> Python, Django, HTML, CSS</p> 
                    
                </div>

                <div class='project_container'>
                    <div id='project2' class='project'>
                        
                    </div>
                    <p><span class='meta'>App name:</span><a href='http://ec2-3-131-85-34.us-east-2.compute.amazonaws.com/'>BigBankAccount</a> </p>
                        <p><span class='meta'>Description:</span> Money Management Game </p>
                        <p><span class='meta'>Stack:</span> Python, Django, HTML, CSS</p>
                       
                </div>

                
                
        </div>
    </body>
    </html>