<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <title>Index</title>
    </head>
    <body>
            <div id='header'>
                    
                    <h2 id='python' class='subjects'><a href='/show_python'>Python</a></h2>
                    <h2 id='java' class='subjects'><a href='/show_java'>Java</a></h2>
                    <h2><a href='/about_me'>About me</a></h2>
  

                </div>
        <div id='wrapper'>
            
            <div class='project_container'>             
                <div id='project1' class='project'>
                        
                </div>
                <p><span class='meta'>App name:</span> Wishlist</p>
                <p><span class='meta'>Description:</span> Create and add items to your wishlist </p>
                <p><span class='meta'>Technologies used:</span> Python, Django, HTML, CSS</p>
                

            </div>
        
            <div class='project_container'>
                <div id='project2' class='project'>

                </div>
                <p><span class='meta'>App name:</span> Amadon</p>
                <p><span class='meta'>Description:</span> Buy and purchase items </p>
                <p><span class='meta'>Technologies used:</span> Python, Django, HTML, CSS</p>
            </div>

            <div class='project_container'>
                <div id='project3' class='project'>

                </div>
                <p><span class='meta'>App name:</span> NinjaGold</p>
                <p><span class='meta'>Description:</span> Earn or lose gold </p>
                <p><span class='meta'>Technologies used:</span> Python, Django, HTML, CSS</p>
            </div>
            
            
          
            

        </div>
    </body>
    </html>