<!DOCTYPE html>

<html lang = "en">

<head>
	<title>James Consulting</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/james_consult.css' %}"> 

</head>

<body>
	<div id="header">
	
		<span id="James" class="banner">James </span>
		<span id="Consulting" class="banner">Consulting</span>
		
		<div id="navbar">
		<a id="Home" href="">Home</a>
		<a id="About" href="">About</a>
		<a id="Services" href="">Services</a>
		<a id="Projects" href="">Projects</a>
		<a id="Clients" href="">Clients</a>
		</div>
		
	</div>
	
	<div id="main_content">

		<img id="main_img" src="static/img/main_img.png" alt="main image" >
		
		<div class="box" id="box1">
			
			<img id="icon1" src="static/img/icon.png" alt="icon1">
			
			<h1>Services</h1>
			<p>Our services are great. Our services are great.
			Our services are great. Our services are great.
			Our services are great. Our services are great.
			</p>
			<br>
			<br>
			<div class="more_info">
			<a href="">More info</a>
			</div>
		</div>
		<div class="box" id="box2">
		
			<img id="icon2" src="static/img/icon.png" alt="icon2">
			<h1>Projects</h1>
			<p>Our projects are great. Our projects are great.
			Our projects are great. Our projects are great.
			Our projects are great. Our projects are great.
			</p>
			<br>
			<br>
			<div class="more_info">
			<a href="">More info</a>
			</div>
		</div>
		<div class="box" id="box3">
		
			<img id="icon3" src="static/img/icon.png" alt="icon3">
			<h1>Clients</h1>
			<p>Our clients are great. Our clients are great.
			Our clients are great. Our clients are great.
			Our clients are great. Our clients are great.
			</p>
			<br>
			<br>
			<div class="more_info">
			<a href="">More info</a>
			</div>
			
		</div>
		
		<div id="lower_main_content">
			<div class="the_world">
				<h2>THE WORLD CAN BE YOURS!
				</h2>
		
			</div>
			
			<div class="the_world">
				<h2 id="testimonials">TESTIMONIALS
				</h2>
				
			</div>
		</div>	
		
		<div id="boxes_below_headers">
			<div id ="other_box_1" class="other_boxes" >
			
				
		
			</div>
			
			<div id ="other_box_2" class="other_boxes" >
			
				<p>At James Consultoning, we do alot of things to make sure
				that At James Consultoning,
				we do alot of things to make sure that</p>
				<p>At James Consultoning, we do alot of things to make sure
				that At James Consultoning,
				we do alot of things to make sure that</p>
				
				<a href=""><h3>Learn More</h3></a>
		
		
			</div>
			<div id ="other_box_3" class="other_boxes" >
			
				<p>"This is my testimonial of testimonials. 
				This is my testimonial of testimonials." 
			
			
				</p>
				<br>
				<br>
				Samantha Jones, Project Manager
			</div>
			
		</div>
		
		
	</div>
	
	<div id="footer">
		<a id="HomeF" class="footer_elements" href="">Home</a>
		<a id="AboutF" class="footer_elements" href="">About</a>
		<a id="ServicesF" class="footer_elements" href="">Services</a>
		<a id="ProjectsF" class="footer_elements" href="">Projects</a>
		<a id="ClientsF" class="footer_elements" href="">Clients</a>
	</div>
</body>